<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ga.kps.bitacoradepresionarterial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bpa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_bpa_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".ReminderDetailActivity"/>
        <activity android:name=".AddReminderActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ShotDetailActivity" />
        <activity android:name=".AddShotActivity" />
        <activity android:name=".UserDetailsActivity" />
        <activity android:name=".AddUserActivity" />
        <activity
            android:name=".UserListActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity"/>
    </application>

</manifest>